* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.765);
}

.quote{
    margin-top: 220px;
    text-align: center;
}

h1 {
    padding: 20px;
    margin: 20px 20px 35px 55px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 40px;
}

p {
    margin-bottom: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
button{
    width: 45px;
    height: 25px;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 5px;
    border: none;
    border-radius: 15px;
    margin: 8px;
}

#number_like {
    margin-right:300px;
}
#number_no_like {
    margin-left: 300px;
}
