* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.765);
}

.quote{
    margin-top: 220px;
    text-align: center;
}

h1 {
    padding: 20px;
    margin: 20px 20px 35px 55px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 40px;
    font-size: 25px;
    font-weight: 200;
}

p {
    margin-bottom: 80px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color:rgb(175, 255, 84);
    font-weight: 700;
    word-spacing: 12px;
}
button{
    width: 45px;
    height: 25px;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 5px;
    border: none;
    border-radius: 15px;
    margin: 8px;
    cursor: pointer;
}
#plus {
    background-color: rgb(179, 219, 120);
}
#plus:hover {
    background-color:  rgba(64, 106, 0, 0.816);;
    color: white;
}
#minus{
    background-color: rgb(244, 177, 148);
}
#minus:hover {
    background-color: rgb(247, 74, 0);
    color: white;
}
#number_like {
    margin-right:300px;
}
#number_no_like {
    margin-left: 300px;
}
